.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 280px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
}

.img {
  width: 240px;
  height: 120px;
  object-fit: contain;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
}

.addButton {
  width: 260px;
  justify-content: center;
}
